/* app/globals.css */
:root {
  --fpl-purple: #37003c;
  --fpl-purple-light: #5e036e;
  --fpl-green: #00ff87;
  --fpl-bg-light: #f8f8f8;
  --fpl-text-dark: #242424;
}

body {
  background-color: var(--fpl-bg-light);
  color: var(--fpl-text-dark);
}

.btn-primary {
  background-color: var(--fpl-purple);
  border-color: var(--fpl-purple);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--fpl-purple-light);
  border-color: var(--fpl-purple-light);
}

.btn-success {
  background-color: var(--fpl-green);
  border-color: var(--fpl-green);
  color: var(--fpl-purple);
  font-weight: bold;
}

.text-primary {
  color: var(--fpl-purple) !important;
}

.bg-primary {
  background-color: var(--fpl-purple) !important;
}

.fpl-accent {
  color: var(--fpl-green);
}

.fpl-bg {
  background-color: var(--fpl-purple);
  color: white;
}

.fpl-accent-bg {
  background-color: var(--fpl-green);
  color: var(--fpl-purple);
}